$primary-color: #737889;
$second-color: #486170;

$green: #32B573;

$primary-section-bg: #fff;
$second-section-bg: #F3F6FB;
$footer-bg: #2A3A56;

$blue-gradient: linear-gradient(180deg, #2770C0 0%, #39C2ED 100%);
$green-gradient: linear-gradient(180deg, #2DD882 0%, #1FAB64 100%);
$grey-gradient: linear-gradient(180deg, #2770C00F 0%, #39C2E00F 100%);
$fiolet-gradient: linear-gradient(90deg, #3669CD 0%, #8D3BDE 47.21%, #EA5FAB 97.47%);
$fiolet-rotate-gradient: linear-gradient(90deg, #EA5FAB 0%, #8D3BDE 47.21%, #3669CD 97.47%);


